<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::index-content}, ~{index-link}, ~{index-scripts})}">
<head lang="en">
    <meta charset="UTF-8">
    <title>Grading System</title>
    <th:block th:fragment="index-link">
        <th:block th:insert="dashboard/dashboard :: link"></th:block>
    </th:block>
</head>
<body>
<th:block th:fragment="index-content">
    <th:block th:insert="dashboard/dashboard :: content"></th:block>
</th:block>
<th:block th:fragment="index-scripts">
    <th:block th:insert="dashboard/dashboard :: dashboard-script"></th:block>
</th:block>
</body>
</html>